/3-转文字/offline-voice/app/__pycache__
/3-转文字/offline-voice/app/asr/__pycache__
/3-转文字/offline-voice/app/audio/__pycache__
/3-转文字/offline-voice/app/config/__pycache__
/3-转文字/offline-voice/app/core/__pycache__
/3-转文字/offline-voice/app/export/__pycache__
/3-转文字/offline-voice/app/recorder/__pycache__
/3-转文字/offline-voice/app/storage/__pycache__
/3-转文字/offline-voice/app/ui/__pycache__
/3-转文字/offline-voice/app/workers/__pycache__
/3-转文字/offline-voice/app/ui/pages/__pycache__
/3-转文字/offline-voice/app/ui/widgets/__pycache__
